app = "postconvert"

primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0
  max_machines_running = 1
  concurrency = { soft_limit = 1, hard_limit = 2 }
  grace_period = "30s"
